[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2 = "*"
django-allauth = "*"
dj-rest-auth = {extras = ["with_social"], version = "==4.0.0"}
channels = "*"
django-cors-headers = "*"
daphne = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
channels-redis = "*"
dj-database-url = "*"
gunicorn = "*"
django-health-check = "*"
psutil = "*"
uvicorn = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.11"
